a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

li > p {
      margin-bottom: 0;
}

.footnote-body {
   display: inline;
}

.footnote-body > p:nth-child(1) {
   display: inline;
}
